*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	width: 100%;
	height: auto;
	max-width: 300px;
	display: block;
	margin: auto;

}
body{
	font-size: 20px;
	font-family: 'roboto', sans-serif;
	background-color: #F0E9D2;
}
p{
	margin: 25px;
}
h1{
	font-size: 60px;
}
div{
	width: 60%;
	margin: auto;
	padding: 50p;
	background-color: #E6DDC4;
}
a{
	text-decoration: none;
	color: #678983;
	display: block;
	margin: 20px 0;
}
img{
	max-width: 30%;
	height: auto;
	display: block;
}